.Weather {
  font-family: arial, sans-serif;

  color: rgb(32, 33, 36);
  padding: 16px;
  font-size: 14px;
  margin: 30px auto;
  max-width: 652px;
  margin-top: 0px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  font-weight: normal;
  margin: 0;
}
.Weather .description li {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}
.Weather .overview {
  text-align: right;
  vertical-align: top;
}
.Weather .overview ul {
  margin: 0;
  padding: 0;
}

.Weather .overview li {
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  line-height: 20px;
}
