.Weather {
  font-family: arial, sans-serif;
  clear: both;
  color: rgb(32, 33, 36);
  padding: 16px;
  font-size: 14px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .temperaturedesc {
  display: flex;
  margin: 1px;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 1px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -30px;
  line-height: 1px;
}
.Weather .weatherResult {
  position: relative;
  left: -10px;
}
.Weather .weatherResult li {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.Weather .overview {
  text-align: right;
  vertical-align: top;
  position: relative;
  left: 20px;
}

.Weather h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  font-weight: normal;
  margin-bottom: 0;
}

.Weather .overview ul {
  margin: 0;
  padding: 0;
}

.Weather .overview li {
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  line-height: 20px;
}
